---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/sections/Hero.astro"
import About from "@/components/sections/About.astro"
import Interest from "@/components/sections/Interest.astro"
import Education from "@/components/sections/Education.astro"
import Publications from "@/components/sections/Publications.astro"
import Projects from "@/components/sections/projects.astro"
import AccordionSection from "@/components/AccordionSection.astro"
import Scolarships from "@/components/sections/Scolarships.astro"
import Languajes from "@/components/sections/Languajes.astro"
import Skills from "@/components/sections/Skills.astro"
import Teaching from "@/components/sections/Teaching.astro"
import Experience from "@/components/sections/Experience.astro"


import { basics } from "@cv"
const { name, label } = basics
---

<Layout title={`${name}-${label}`}>
	<main>
		<Hero />
		<About />
		<Interest />

		<AccordionSection title="Educación">
  			<Education />
		</AccordionSection>

		<AccordionSection title="Publicaciones científicas">
			<Publications />
		</AccordionSection>

		<AccordionSection title="Docencia">
			<Teaching />
		</AccordionSection>

		<AccordionSection title="Experiencia Laboral">
			<Experience />
		</AccordionSection>
		
		<AccordionSection title="Becas obtenidas">
  			<Scolarships />
		</AccordionSection>

		<AccordionSection title="Proyectos de investigación">
			<Projects />
		</AccordionSection>

		<AccordionSection title="Habilidades técnicas">
			<Skills />
		</AccordionSection>

		<AccordionSection title="Idiomas">
			<Languajes />
		</AccordionSection>
	</main>
</Layout>

<style>
    main {
      padding: 4rem;
      margin: auto;
      width: 100%;
      /* Añade estas dos líneas */
      max-width: 800px; 
      box-sizing: border-box;
    }
  
    @media (width <= 700px) {
      main {
        padding: 2rem;
      }
    }
</style>